    <section class="section">
        <h1 class="section-headline">SERVICE</h1>
        <ul class="grid">
            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">不動産コンサルティング</dt>
                    <dd class="card-description">オフィス移転計画立案・策定、店舗出退店計画立案・策定、新規・退去時内装工事計画、ＣＲＥ戦略立案・策定、不動産管理業務、ＦＭコンサルティング</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">経営支援業務</dt>
                    <dd class="card-description">経営課題やプロジェクトの内容に合わせ、業務アウトソーシング（社員派遣）を通して支援先企業の一員として実現可能な改革案を構築、実行していきます。</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">不動産売買・賃貸仲介</dt>
                    <dd class="card-description">法人に特化した不動産コンサルタントとしてのノウハウと、全国にわたるさまざまな売買・賃貸仲介実績データに基づいた知見・経験をもとに、業種・業態に沿った幅広い物件情報を提供します。マーケティングから売買・賃貸契約に関するアドバイスまでトータルでサポート致します。</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">サブリース事業</dt>
                    <dd class="card-description">不動産オーナーが所有する物件を当社が借上げ、テナント企業に転貸を致します。 当社が借主となることにより、空室・滞納リスクの軽減と入居者の募集、退去に伴う手続き、集金などの手間のかかる管理業務から解放致します。不動産オーナーの長期的な収益向上を目指します。</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">デューデリジェンス</dt>
                    <dd class="card-description">依頼主が所有又は賃借する不動産物件の最適な収益バランス及びキャッシュフロー、市場転用性を導き出します。</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">コスト削減アドバイザリー</dt>
                    <dd class="card-description">現状の取引実態から算出した適正価格への低減を図ります。原状回復費用、コピー機・複合機、電話料金、電気料金など</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">WEBサイトの企画・制作・運用</dt>
                    <dd class="card-description">上場企業、ミシュラン掲載店などを手掛けたスタッフが担当致します。HPの制作はもちろん、中長期的なプロモーションプランの策定や更新作業までをワンストップで対応します。また、採用力を強化する採用ページの作成も承ります。</dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">事業承継投資</dt>
                    <dd class="card-description">主に中小企業を対象として資金調達、人材採用、デジタル導入、各種助成金申請、M&A助言等の経営支援をおこないます。投資先企業の意向を反映した支援計画を提案し、よりよい形での事業承継を目指します。</dd>
                </dl>
            </li>
        </ul>
    </section>





    <section class="section">
        <h1 class="section-headline second-headline">COMPANY PROFILE</h1>
        <div class="about">
            <dl class="about-item">
                <dt class="about-headline">
                    会社名
                </dt>
                <dd class="about-description">
                    株式会社Y's consulting
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    代表者
                </dt>
                <dd class="about-description">
                    代表取締役　中山　雄策
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    役員
                </dt>
                <dd class="about-description">
                    取締役　　　中上興典  <br>
                    執行役員　　中村竜太
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    本社所在地
                </dt>
                <dd class="about-description">
                    〒160-0004 東京都新宿区四谷１丁目８−８ 佐伯千成ビル ５F
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    TEL / FAX
                </dt>
                <dd class="about-description">
                    03-6457-4956　/　03-6457-4957
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    創業
                </dt>
                <dd class="about-description">
                    2011年10月
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    設立
                </dt>
                <dd class="about-description">
                    2020年3月
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    資本金
                </dt>
                <dd class="about-description">
                    900万円
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    取引金融機関
                </dt>
                <dd class="about-description">
                    みずほ銀行　小舟町支店
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    登録番号
                </dt>
                <dd class="about-description">
                    宅地建物取引業　東京都知事（1）第105385号 <br>
                    労働者派遣事業許可　派13-315283
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    顧問弁護士
                </dt>
                <dd class="about-description">
                    五十里　隆行 （神田総合法律事務所）
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    顧問会計士
                </dt>
                <dd class="about-description">
                    吉田　茂 （コンフィアンス税理士法人）
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    不動産鑑定士
                </dt>
                <dd class="about-description">
                    坂田　雄一 （さかた鑑定）
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    適格請求書発行事業者 登録番号
                </dt>
                <dd class="about-description">
                    T4011101090636
                </dd>
            </dl>
        </div>       
    </section>


    <div class="map-info">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.6680422002137!2d139.75022457578788!3d35.6851749725859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c0d02d8064d%3A0xd11a5f0b379e6db7!2z55qH5bGF!5e0!3m2!1sja!2sjp!4v1748136222706!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>   
        <a href="https://maps.app.goo.gl/jg6eBco2ePZo7MNH6" target="_blank">google map</a>
    </div>

    <%= render "contacts/new" %>