    <section class="section">
        <h1 class="section-headline">SERVICE</h1>
        <ul class="grid">
            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">事業概要</dt>
                    <dd class="card-description">
                    大阪・神戸を中心に、美容室の開業を目指す方々を総合的にサポートしています。18年以上にわたり、850件を超える開業支援実績があります。
                    </dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">開業支援業務</dt>
                    <dd class="card-description">
                    物件紹介・資金調達アドバイス・店舗設計・内装工事など、開業に必要な全ステップをワンストップで丁寧に支援します。
                    </dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">初めての方へ</dt>
                    <dd class="card-description">
                    「何から始めればいいか分からない…」という方も安心。開業初心者の方でも無理なく進められるように、丁寧にナビゲートします。
                    </dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">強み・実績</dt>
                    <dd class="card-description">
                    豊富な支援実績と現場での経験を活かし、地域性や市場ニーズを踏まえた“繁盛するサロン”を一緒に設計します。
                    </dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">オーナーの想いに寄り添う</dt>
                    <dd class="card-description">
                    「こんな雰囲気にしたい」「理想のサロン像がある」など、オーナー様のこだわりをしっかりヒアリングし、形にします。
                    </dd>
                </dl>
            </li>

            <li class="grid-item">
                <dl class="card">
                    <dt class="card-headline">お問い合わせ</dt>
                    <dd class="card-description">
                    ご相談は24時間「お問い合わせ」で受付中。どんな些細なことでもお気軽にご連絡ください。
                    </dd>
                </dl>
            </li>
        </ul>
    </section>





    <section class="section">
        <h1 class="section-headline second-headline">COMPANY PROFILE</h1>
        <div class="about">
            <dl class="about-item">
                <dt class="about-headline">
                    会社名
                </dt>
                <dd class="about-description">
                    株式会社サンプル
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    代表者
                </dt>
                <dd class="about-description">
                    代表取締役　山田　太郎
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    役員
                </dt>
                <dd class="about-description">
                    取締役　　　山田　二郎  <br>
                    執行役員　　山田　三郎
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    本社所在地
                </dt>
                <dd class="about-description">
                    〒160-0004 東京都千代田区千代田1-1
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    TEL / FAX
                </dt>
                <dd class="about-description">
                    0120ー444-444
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    創業
                </dt>
                <dd class="about-description">
                    2011年10月
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    設立
                </dt>
                <dd class="about-description">
                    2020年3月
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    資本金
                </dt>
                <dd class="about-description">
                    900万円
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    取引金融機関
                </dt>
                <dd class="about-description">
                    みずほ銀行　小舟町支店
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    登録番号
                </dt>
                <dd class="about-description">
                    宅地建物取引業　東京都知事（1）第105385号 <br>
                    労働者派遣事業許可　派13-315283
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    顧問弁護士
                </dt>
                <dd class="about-description">
                    山田　四郎 （神田総合法律事務所）
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    顧問会計士
                </dt>
                <dd class="about-description">
                    山田　五郎 （コンフィアンス税理士法人）
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    不動産鑑定士
                </dt>
                <dd class="about-description">
                    山田　むつみ （さかた鑑定）
                </dd>
            </dl>

            <dl class="about-item">
                <dt class="about-headline">
                    適格請求書発行事業者 登録番号
                </dt>
                <dd class="about-description">
                    T4011101090636
                </dd>
            </dl>
        </div>       
    </section>


    <div class="map-info">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.6680422002137!2d139.75022457578788!3d35.6851749725859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c0d02d8064d%3A0xd11a5f0b379e6db7!2z55qH5bGF!5e0!3m2!1sja!2sjp!4v1748136222706!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>   
        <a href="https://maps.app.goo.gl/jg6eBco2ePZo7MNH6" target="_blank">google map</a>
    </div>

    <%= render "contacts/new" %>